@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.Space {
    margin-top: 50px;
    width: 100%;
    
    height: 50px; 
    
    background-image: linear-gradient(
        to bottom, 
        #102023,    
        #122427     
    ) !important;
}